@import "../variables";
@import "../mixins";

.playerCardBig {
    @include flexSpaceBetween(row);
    gap: 0.5rem;
    width: 100%;
    position: relative;

    &__name {
        @include flexCenter(row);
        height: 3.5rem;
        border-radius: 5rem;
        width: 100%;

        p {
            font-size: 1.1rem;
            font-weight: 700;
        }
    }

    input {
        width: 30%;
        font-size: 1.3rem;
    }

    svg {
        width: 2rem;
        fill: $main-color-dark;
    }
}
